{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "styled": "css"
            }
        ],
        [
            "styled-components",
            {
                "ssr": true
            }
        ]
    ]
}